@charset "utf-8";

html,body{
  font-family: "맑은 고딕";
  color:black;
  margin: auto;
  height: 100%;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
}
img{
  vertical-align: bottom;
}
table,td,th{
  border: 1px solid black;
  border-collapse: collapse;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header{
  border: none;
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  margin: auto;
  z-index: 999999;
  background-color:#efe1ca;
  }
  .header-wrap{
  width: 100%;
  position: relative;
  max-width: 1920px;
  margin: auto;
  height: 100%;
  border: none;
  }
  footer{
    border: 1px solid black;
    width: 100%;
    height: 60px;
    margin: auto;
    background-color: black;
    color: white;
    position: relative;
  }
  .footer-wrap{
    width: 100%;
    height: 50px;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  h1{
    border: none;
    margin: auto;
    background-color:transparent;
    width: 30%;
    height: 90px;
    margin-top: 10px;
    margin-bottom: -15px;
  }
  h1 img{
    width: 100%;
  }
  .login-g{
    width:400px;
    height: 80px;
    border: none;
    position: absolute;
    right:-400px;
    top:-5px;
    margin: auto;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.5em;
  }
  .m-bt{
    border: none;
    margin: auto;
    padding: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    left: -10%;
  }
  .content{
    border: 1px solid black;
    height: 100%;
  }
  .content-wrap{
    height: 100%;
  }
  .section{
    height: 100%;
    width: 100%;
    margin:auto;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section p{
    width:50%;
    background-color:rgba(255,255,255,0.5);
    text-align:center;
    padding:20px;
    margin: auto;
    left: 100px;
  }
  .section img{
    width: 100%;
  }
h2{
  border: 1px solid black;
  color: red;
  padding: 20px;
  margin-bottom: 50px;
  background-color:transparent;
  width:100%;
  height: auto;
  text-align: center;
  font-size: 2em;
}
h3{
  text-align: center;
  border: 1px solid black;
  width: 100%;
  height: auto;
  font-size: 3em;
  padding: 10px;
  margin: auto;
  padding: 10px;
}
div{ 
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size:1.2em;
}