@charset "utf-8";

html,body{
  font-family: "맑은 고딕";
  color:black;
  margin: auto;
  height: 100%;
  background-color: rgb(248, 247, 247);
}
header{

  background-color: rgb(248, 247, 247);
}
.img-g{
  background-color: rgb(248, 247, 247);
}
.content{
  background-color: rgb(248, 247, 247);
  margin-top:150px;
}
.img-form-wrap{
  border: none;
 display: flex;
  justify-content: space-around;
  
}
.img-form-wrap>div{
 width: 40%;
 
  
}
.img-wrap{
width: 50%;

}
.img-wrap img{
  width: 100%;
}
.m-l{
  border: 1px solid black;
  display: flex;
  width:40%;
  justify-content: space-around;
  list-style: none;
  margin: 20px auto;
}
.m-l>li{
  width: 20%;
  

}
.m-l>li img{
  width: 100%;
}

.text-wrap{
  
}
.text-wrap h4{
  /* border: 1px solid black; */
  border-bottom:1px solid black;
  padding: 20px;
  font-size: 1.5em;
  font-family: "굴림";
  margin: 20px;
}
del{
  /* border: 1px solid black; */
  display: block;
  font-size: 1.2em;
  margin: 10px;
  
}
.rebate{
  /* border: 1px solid black; */
  display: inline-block;
  color: red;
  margin-left: 30px;
  padding: 10px;
  font-size: 1.3em;
}
.price{
  /* border: 1px solid black; */
  display: block;
  margin-left: 70px;
  font-size: 1.5em;
  color: black;
  
}
.big{
  /* border: 1px solid black; */
  margin: auto;
  padding: 20px;
  text-align: center;
  margin: 40px;
  font-size: 2em;

}
.option{
  /* border: 1px solid black; */
  display: block;
  padding: 10px;
  width: 98%;
  margin: 30px;
  height: auto;
  border-radius: 15px;
  background-color: whitesmoke;
  color: black;
  border: none;

}
.mini{
  text-align: center;
  margin: 20px;
 
}
.mini-option{
  /* border: 1px solid black; */
  display: inline-block;
  width:30%;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: auto;
  border-radius: 15px;
  background-color: whitesmoke;
  color: black;
  border: none;
}
.option1{
  margin-left: 90%;
  width: 10%;
  padding: 5px;
  border-radius: 30px;
  border: none;
  
}
.text{
  /* border: 1px solid black; */
  margin: 20px;
  padding: 10px;
  border-top: 1px solid black;
  font-size:1.2em;
}
span{
  color: red;
}
.review{
   position: relative;
   width: 100%;
   margin:auto;
} 

.img-wp h5{
  border: 1px solid black;
  font-size: 1.3em;
  font-family: "돋음";
  text-align: center;
}
.img-wp{
  border: 1px solid black;
  width: 60%;
  border-radius: 15px;
  height: auto;
  margin: auto;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  
}
.img-wp>li{
  display: block;
  padding: 10px;
  
}
.img-wp>li img{
  border: 1px solid black;
  border-radius:35%;
  width: 10%;
  
}
.img-wp p{
  border: 1px solid black;
  width: 85%;
  float: right;
  margin-top: 50px;
  text-align: center;
}
.text-a{
  border: none;
  margin: auto;
  font-size: 1.2em;
  padding: 10px;
  margin-top:30px;
  margin-bottom: 30px;
  width: 96%;
  background-color: rgb(251, 233, 251);
}
.text-a p{
  
}
@media screen and (max-width:1000px){
  .img-wrap img{
    margin-top: 10px;
    border-radius: 25px;
    border: none;
  }
  .img-form-wrap{
    border: none;
    margin-top:100px;
  }
  .img-form-wrap>div {
    width: 100%;
    margin-top: 30px;
    background-color: rgb(248, 247, 247);
    border: none;
  }
  .img-form-wrap{
    flex-direction: column;
  }
  .big{
    margin: auto;
    padding: 0;
    margin-right: 50px;
  }
  del {
    margin-left: 20px;
  }
  .rebate{
    margin-left: 70px;
  }
  .price {
    margin-left: 100px;
  }
  .option {
    background-color: rgb(255, 233, 233);
  }
  .option1{
    background-color: rgb(255, 233, 233);
    padding: 5px 0;
  }
  .mini-option{
    background-color: rgb(255, 233, 233);
  }
  .text-a{
    font-size: 1em;
  }
  .img-wp p{
    margin-top: 0;
  }
  .review{
    margin-left:0;
    width: 100%;
  }
  .img-wp h5{
    font-size: 1em;
  }
}

@media screen and (max-width:800px){
  .img-wrap img{
    margin-top: 10px;
    border-radius: 25px;
    border: none;

  }
  .img-form-wrap{
    border: none;
    margin-top:100px;
  }
  .img-form-wrap>div {
    width: 100%;
    margin-top: 30px;
    background-color: rgb(248, 247, 247);
    border: none;
  }
  .img-form-wrap{
    flex-direction: column;
  }
  .big{
    margin: auto;
    padding: 0;
    margin-right: 50px;
  }
  del {
    margin-left: 20px;
  }
  .rebate{
    margin-left: 70px;
  }
  .price {
    margin-left: 100px;
  }
  .option {
    background-color: rgb(255, 233, 233);
  }
  .option1{
    background-color: rgb(255, 233, 233);
    padding: 5px 0;
  }
  .mini-option{
    background-color: rgb(255, 233, 233);
  }
  .text-a{
    font-size: 1em;
  }
  .img-wp p{
    margin-top: 0;
  }
  .review{
    margin-left:0;
    width: 100%;
  }
  .img-wp h5{
    font-size: 1em;
  }
}

@media screen and (max-width:640px){
  .img-wrap img{
    margin-top: 10px;
    border-radius: 25px;
    border: none;
  }
  .img-form-wrap{
    border: none;
    margin-top:100px;
  }
  .img-form-wrap>div {
    width: 100%;
    margin-top: 30px;
    background-color: rgb(248, 247, 247);
    border: none;
  }
  .img-form-wrap{
    flex-direction: column;
  }
  .big{
    margin: auto;
    padding: 0;
    margin-right: 50px;
  }
  del {
    margin-left: 20px;
  }
  .rebate{
    margin-left: 70px;
  }
  .price {
    margin-left: 100px;
  }
  .option {
    background-color: rgb(255, 233, 233);
  }
  .option1{
    background-color: rgb(255, 233, 233);
    padding: 5px 0;
  }
  .mini-option{
    background-color: rgb(255, 233, 233);
  }
  .text-a{
    font-size: 1em;
  }
  .img-wp p{
    margin-top: 0;
  }
  .review{
    margin-left:0;
    width: 100%;
  }
  .img-wp h5{
    font-size: 1em;
  }
}


@media screen and (max-width:480px){
  .img-wrap img{
    margin-top: 10px;
    border-radius: 25px;
    border: none;
  }
  .img-form-wrap{
    border: none;
    margin-top:100px;
  }
  .img-form-wrap>div {
    width: 100%;
    margin-top: 30px;
    background-color: rgb(248, 247, 247);
    border: none;
  }
  .img-form-wrap{
    flex-direction: column;
  }
  .big{
    margin: auto;
    padding: 0;
    margin-right: 50px;
   
  }
  del {
    margin-left: 20px;
  }
  .rebate{
    margin-left: 70px;
  }
  .price {
    margin-left: 100px;
  }
  .option {
    background-color: rgb(255, 233, 233);
  }
  .option1{
    background-color: rgb(255, 233, 233);
    padding: 5px;
  }
  .mini-option{
    background-color: rgb(255, 233, 233);
  }
  .text-a{
    font-size: 1em;
  }
  .img-wp p{
    margin-top: 0;
  }
  .review{
    margin-left:0;
    width: 100%;
  }
  .img-wp h5{
    font-size: 1em;
  }
}