header{
  
  background-color: rgb(248, 247, 247);
}
#s0, #s1, #s2{
background-color: rgb(248, 247, 247);
background-image: none;
padding:20px ;
}
.season-wrap {
border:none;
background-color: rgb(248, 247, 247);
margin-top: 100px;
}
.season-wrap>li{
  border: 1px solid black;
  width: auto;
  height: 100%;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  
 
  
}
.season-wrap>li div img{
width: 50%;
border-radius:20px;

}


.season-wrap>li>div p{
  /* border: 1px solid black; */
  font-family: "명조";
  font-size:0.8em;
  display: flex;
  
}
h2{
  /* border: 1px solid black; */
  font-size: 1.9em;
  color:rgb(193, 8, 8) ;
 
}
h3{
  /* border: 1px solid black; */
  font-size: 2em;
  color:rgb(193, 8, 8) ;

}
.season-wrap div{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size:1.2em;
  padding: 10px;
  margin: 25px;

}
.season-wrap div:first-child{
  width: 50%;
  margin: 25px;

}
@media screen and (max-width:1000px){
  h2{
    font-size: 1.7em;
  }
  h3{
    font-size: 2em;
  }
  .season-wrap>li>div p {
    font-size: 1em;
  }
  
}

@media screen and (max-width:800px){
  h2{
    font-size: 1.6em;
  }
  h3{
    font-size: 1.8em;
  }
  .season-wrap>li>div p {
    font-size: 0.8em;
  }
}

@media screen and (max-width:640px){
  
  h2{
    font-size: 1.3em;
  }
  h3{
    font-size: 1.3em;
  }
  .season-wrap>li>div p {
    font-size: 0.6em;
  }
}

@media screen and (max-width:480px){
  h2{
    font-size: 1.1em;
  }
  h3{
    font-size: 1em;
  }
  .season-wrap>li>div p {
    font-size: 1em;
  }
  .season-wrap>li div img {
    width: 100%;
    border-radius: 30px;
  }
  li{
    margin:0;
  }
  .season-wrap>li{
    flex-direction: column;
  }
  .season-wrap div{
    width: 90%;
  }
  .season-wrap div:first-child{
    width: 90%;
  }
  
}
